body{
    background-color: #3f663f;
    background: cover;
}
.container{
    border: 2px solid black;
    background-color: #fff;
    width: 40%;
    display: block;
    justify-content: center;
    padding: 15px;
    margin: 100px auto;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: #ffa601;
    font-size: 30pt;
}
.screen{
    width: 96%;
    height: 40px;
    background-color:transparent;
    border: 2px solid black;
    color:black;
    font-size: 15pt;
    font-weight: 700;
}
.number{
    font-size: 15pt;
    height: 40px;
    width: 90%;
    cursor: pointer;
}
.operator{
    font-size: 15pt;
    height: 40px;
    width: 90%;
    cursor: pointer;
}
.clear{
    font-size: 15pt;
    height: 40px;
    width: 90%;
    cursor: pointer;
}
.equal{
    font-size: 15pt;
    height: 40px;
    width: 90%;
    cursor: pointer;
}
.decimal{
    font-size: 15pt;
    height: 40px;
    width: 90%;
    cursor: pointer;
}
table{
    width: 100%;
}
